*{margin: 0;padding: 0;}
.first, .second, .third{
	color: #fff;
	font-size: 30px;
	line-height: 120px;
	text-align: center;
/*	margin-bottom: 20px;*/
}
.first
{
	height: 120px;
	background-color: #03A9F4;
}
@media(min-width: 500px){
	.first
	{
		width: 50%;
		float: left;
	}
}
@media(min-width: 800px){
	.first
	{
		width: 33.333%;
		float: left;
	}
}
.second
{
	height: 120px;
	background-color: deeppink;
}
@media(min-width: 500px){
	.second
	{
		width: 50%;
		float: left;
	}
}
@media(min-width: 800px){
	.second
	{
		width: 33.333%;
		float: left;
	}
}
.third
{
	height: 120px;
	background-color: yellow;
}
@media(min-width: 500px){
	.third
	{
		width: 100%;
		float: left;
	}
}
@media(min-width: 800px){
	.third
	{
		width: 33.333%;
		float: left;
	}
}